
    <h2>Todo</h2>
    <div >
        <input type="text" ng-model="formtodo.todoText" 
               placeholder="add new todo here">
        <input ng-model="custom"/>
        <input class="btn-primary" type="button" value="add" ng-click="addTodo()">

        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [ <a href="" ng-click="archive()">archive</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todos">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
            </li>
        </ul>
        
        

    </div>
