<div ui-content-for="title">
  <span>Scroll</span>
</div>

<div class="scrollable" ui-shared-state="searchBar">
    <input ng-if="Ui.active('searchBar')"
           type="file"
           id="fileUploader"
           class="form-control scrollable-header"
           ng-cl="readTextChange(this)"
           /><button ng-click="uploadFile()" ng-if="Ui.active('searchBar')" class="btn btn-primary">Upload File</button>

  <div class="scrollable-content" ui-scroll-bottom="bottomReached()">
    <div class="list-group-item">
        <table border="1" width="100%">
            <tr class="list-item">
                <th ng-click="orderByClick('text')">Name</th>
                <th ng-click="orderByClick('count')">No Count</th>
                <th>Action</th>
            </tr>
            <tr class="list-item" ng-repeat="item in todos | orderBy :customOrderBy">
                <td>
                    {{ item.text }}
                </td>
                <td>
                    {{ item.count }}
                </td>
                <td>
                    <i class="fa fa-chevron-right pull-right"></i>
                </td>
            </tr>
        </table>
</div>
  </div>

  <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle="searchBar">
    <i class="fa fa-search"></i>
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a>
</div>
