<div ui-content-for="title">
  <span>Scroll</span>
</div>

<div class="scrollable" ui-shared-state="searchBar">

    
    <div class="scrollable-header alert alert-info ">
        Drag right to dismiss notices!
    </div>
    <div class="alert">
        <div class="pull-left">
            <input type="file"
                   id="fileUploader"
                   ng-cl="readTextChange(this)" />
        </div>
        <div class="pull-left"><button ng-click="uploadFile()" >Upload File</button></div>
        <div class="btn pull-left fa fa-sort" ng-click="orderByClick('text')">Order by Name</div>
        <div class="btn pull-left fa fa-sort" ng-click="orderByClick('count')">Order by Number of use in file</div>
        <div class="pull-left"><button ng-click="deleteAllItems()">Delete Selected Items</button></div>

        <div class="pull-left"><button ng-click="downloadFile()">Download</button></div>
        <div class="pull-left"><button ng-click="translate()">Translate</button></div>
    </div>
  <!--
      ng-if="Ui.active('searchBar')"
      <div class="scrollable-content" ui-scroll-bottom="bottomReached()">
    <div class="list-group-item">
        <table border="1" width="100%">
            <tr class="list-item">
                <th ng-click="orderByClick('text')">Name</th>
                <th ng-click="orderByClick('count')">No Count</th>
                <th>Action</th>
            </tr>
            <tr class="list-item" ng-repeat="item in todos | orderBy :customOrderBy">
                <td>
                    {{ item.text }}
                </td>
                <td>
                    {{ item.count }}
                </td>
                <td>
                    <i class="fa fa-chevron-right pull-right"></i>
                </td>
            </tr>
        </table>
</div>
      drag-to-dismiss="deleteNotice(notice)"
  </div>-->

    
    <div class="scrollable-content">
        <div class="container-fluid">
            <div class="notices-container">
                <div class="progress ng-isolate-scope">
                    <div class="progress-bar" ng-style="progressStyle"></div>
                </div>
                <div ng-repeat="item in todos | orderBy :customOrderBy"
                     drag-to-dismiss="deleteItemTodo(item)"
                     class="section section-break "
                     ng-class="{'section-danger':item.done}"
                     ng-click="selectedItem(item)">
                    <i class="fa fa-eye-slash"></i> {{item.text }}
                    <i class="pull-right">({{ item.count }})</i>
                </div>
            </div>
        </div>
        <br />
    </div>


  <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle="searchBar">
    <i class="fa fa-search"></i>
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a>
</div>
