<div class="scrollable">
  <h1 class="scrollable-header app-name"><img width="50" src="../dist/img/imageedit_3_4135234132.png" />
              Tulip Box <small>1.3</small></h1>
  <div class="scrollable-content">
    <div class="list-group"  ui-toggle="uiSidebarRight">
      <a class="list-group-item" href="#/home"><i class="fa fa-home"></i> خانه <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/scroll"><i class="fa fa-upload"></i> انتخاب فایل <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/knowing"><i class="fa fa-lightbulb-o"></i> لیست دانسته ها <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/basicWords"><i class="fa fa-language"></i> کلمات اساسی <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/phrases"><i class="fa fa-comments-o"></i> عبارات <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/leitnerBox"><i class="fa fa-inbox"></i> لایتنر باکس <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/about"><i class="fa fa-question"></i> درباره ما <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/help"><i class="fa fa-life-ring"></i> راهنما <i class="fa fa fa-chevron-left pull-left"></i></a>
      <!--<a class="list-group-item" href="#/toggle">Toggle <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/tabs">Tabs <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/accordion">Accordion <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/overlay">Overlay <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/forms">Forms <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/dropdown">Dropdown <i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/touch">Touch<i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/swipe">Swipe<i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/drag">Drag 1<i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/drag2">Drag 2<i class="fa fa fa-chevron-left pull-left"></i></a>
      <a class="list-group-item" href="#/carousel">Drag 3<i class="fa fa fa-chevron-left pull-left"></i></a>-->
    </div>
  </div>
</div>
